nav.new-navbar.nav-down
  .left-nav
    i.fa.fa-bars.fa-2x.hidden-md.hidden-lg.hidden-xl.hamburger aria-hidden="true" data-toggle="modal" data-target="#slideMenuModal"
  .center-nav
  .right-nav
.test style="height: 1000px"
